<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Label</key>
        <string>com.stocktwist.cli</string>
        <key>ProgramArguments</key>
        <array>
                <string>/usr/local/bin/stocktwits-cli</string>
                <string>streams</string>
                <string>trending</string>
                <string>--output</string>
                <string>/stocktwits-messages.csv</string>
        </array>
        <key>StartInterval</key>
        <integer>300</integer>


    <key>StandardErrorPath</key>
    <string>/stderr.log</string>

    <key>StandardOutPath</key>
    <string>/stdout.log</string>

    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string><![CDATA[/usr/local/bin:/usr/local/sbin:/usr/bin:/bin:/usr/sbin:/sbin]]></string>
    </dict>

</dict>
</plist>